@{
    ViewBag.Title = "Congratuation!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<div class="alert alert-success">
    Thank you!! Your order has placed successfully.
</div>
