
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="form-group">
    Thank You!!!  You have successfully signed out.    @Html.ActionLink("Sign In  Again", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</div>

