@model IEnumerable<JewelryBiz.DataAccess.Models.Report>
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

@using (Html.BeginForm("Generate", "Report", Model, FormMethod.Post))
{
<div style="float:left; width:20%;">
    @foreach (var item in Model)
    {
        @Html.RadioButton("Report", item.ReportName) @item.Description
        <br /><br />
    }
</div>
    <div style="float:right; width:80%;">
        <input type="submit" value="Generate" />
    </div>
}