@{
    ViewBag.Title = "Contact Us";
}
<h2><b>@ViewBag.Title.</b></h2>

<div>
    <h3>Call Us</h3>
    jewelrybiz.com Customer Service
    <br />
    1.800.BUY.JEWELRY
    (1-xxx-xxx-xxxx)
</div>
<address>
    <strong>Email:</strong>   <a href="mailto:admin@jewerlybiz.com">admin@jewerlybiz.com</a><br />
</address>
<div>
    We're available:
    <br />
    24 Hours a Day
    <br />
    7 Days a Week
</div>